marketing/n8n-workflows/06-engagement-monitor.json
{
  "name": "CulinaryJEMs — Engagement Monitor",
  "nodes": [
    {
      "parameters": {
        "content": "## Engagement Monitor (Optional)\nEvery 2 hours, this checks Facebook and Instagram for new comments and mentions.\nWhen it finds new engagement, it:\n1. Asks OpenClaw to suggest a reply\n2. Sends the comment + suggested reply to Discord #notifications\n\nThe sister can then reply directly on the platform or tweak the suggestion.\nThis is optional — activate it once the Meta API is approved.",
        "width": 480,
        "height": 200
      },
      "name": "Sticky Note - Overview",
      "type": "n8n-nodes-base.stickyNote",
      "position": [100, 40],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "hours", "hoursInterval": 2 }
          ]
        }
      },
      "name": "Every 2 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [300, 300],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v19.0/{{$env.FB_PAGE_ID}}/feed?fields=id,message,comments{id,message,from,created_time}&limit=10&access_token={{$env.FB_PAGE_ACCESS_TOKEN}}",
        "method": "GET",
        "options": { "timeout": 15000, "fullResponse": true },
        "onError": "continueRegularOutput"
      },
      "name": "Fetch FB Comments",
      "type": "n8n-nodes-base.httpRequest",
      "position": [540, 240],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v19.0/{{$env.IG_BUSINESS_ACCOUNT_ID}}/media?fields=id,caption,comments{id,text,from,timestamp}&limit=10&access_token={{$env.FB_PAGE_ACCESS_TOKEN}}",
        "method": "GET",
        "options": { "timeout": 15000, "fullResponse": true },
        "onError": "continueRegularOutput"
      },
      "name": "Fetch IG Comments",
      "type": "n8n-nodes-base.httpRequest",
      "position": [540, 400],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const fbData = $('Fetch FB Comments').first().json;\nconst igData = $('Fetch IG Comments').first().json;\n\nconst twoHoursAgo = new Date(Date.now() - 2 * 60 * 60 * 1000);\nconst newComments = [];\n\n// Process FB comments\nif (fbData?.data) {\n  for (const post of fbData.data) {\n    if (post.comments?.data) {\n      for (const comment of post.comments.data) {\n        const commentTime = new Date(comment.created_time);\n        if (commentTime > twoHoursAgo) {\n          newComments.push({\n            platform: 'Facebook',\n            postId: post.id,\n            commentId: comment.id,\n            from: comment.from?.name || 'Someone',\n            text: comment.message,\n            timestamp: comment.created_time\n          });\n        }\n      }\n    }\n  }\n}\n\n// Process IG comments\nif (igData?.data) {\n  for (const media of igData.data) {\n    if (media.comments?.data) {\n      for (const comment of media.comments.data) {\n        const commentTime = new Date(comment.timestamp);\n        if (commentTime > twoHoursAgo) {\n          newComments.push({\n            platform: 'Instagram',\n            postId: media.id,\n            commentId: comment.id,\n            from: comment.from?.username || 'someone',\n            text: comment.text,\n            timestamp: comment.timestamp\n          });\n        }\n      }\n    }\n  }\n}\n\nif (newComments.length === 0) {\n  return [{ json: { noEngagement: true } }];\n}\n\nreturn newComments.map(c => ({ json: c }));"
      },
      "name": "Filter New Comments",
      "type": "n8n-nodes-base.code",
      "position": [800, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "leftValue": "={{ $json.noEngagement }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "notEqual" }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "New Engagement?",
      "type": "n8n-nodes-base.if",
      "position": [1040, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "={{$env.OPENCLAW_JEMS_URL}}/v1/chat/completions",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"default\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Comment Reply task.\\n\\nPlatform: {{ $json.platform }}\\nFrom: {{ $json.from }}\\nComment: {{ $json.text }}\\n\\nRespond as JSON: {\\\"reply\\\": \\\"...\\\"}\"\n    }\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 150\n}",
        "options": { "timeout": 15000 }
      },
      "name": "OpenClaw - Suggest Reply",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1280, 240],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": { "name": "OpenClaw API Token" }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nconst originalComment = $('Filter New Comments').first().json;\nconst results = [];\n\nfor (const item of items) {\n  let reply = 'Thanks for reaching out!';\n  try {\n    const content = item.json.choices[0].message.content;\n    const cleaned = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n    const parsed = JSON.parse(cleaned);\n    reply = parsed.reply;\n  } catch (e) {}\n\n  results.push({\n    json: {\n      ...originalComment,\n      suggestedReply: reply\n    }\n  });\n}\n\nreturn results;"
      },
      "name": "Parse Reply",
      "type": "n8n-nodes-base.code",
      "position": [1520, 240],
      "typeVersion": 2
    },
    {
      "parameters": {
        "webhookUri": "={{$env.DISCORD_WEBHOOK_NOTIFICATIONS}}",
        "text": "=💬 **New {{ $json.platform }} comment!**\n\n**From:** {{ $json.from }}\n**Comment:** {{ $json.text }}\n\n💡 **Suggested reply:**\n> {{ $json.suggestedReply }}\n\n_Reply directly on {{ $json.platform }} — you can use or edit the suggestion above._"
      },
      "name": "Discord - Comment Alert",
      "type": "n8n-nodes-base.discord",
      "position": [1760, 240],
      "typeVersion": 2
    }
  ],
  "connections": {
    "Every 2 Hours": {
      "main": [
        [
          { "node": "Fetch FB Comments", "type": "main", "index": 0 },
          { "node": "Fetch IG Comments", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch FB Comments": {
      "main": [[{ "node": "Filter New Comments", "type": "main", "index": 0 }]]
    },
    "Fetch IG Comments": {
      "main": [[{ "node": "Filter New Comments", "type": "main", "index": 0 }]]
    },
    "Filter New Comments": {
      "main": [[{ "node": "New Engagement?", "type": "main", "index": 0 }]]
    },
    "New Engagement?": {
      "main": [
        [{ "node": "OpenClaw - Suggest Reply", "type": "main", "index": 0 }],
        []
      ]
    },
    "OpenClaw - Suggest Reply": {
      "main": [[{ "node": "Parse Reply", "type": "main", "index": 0 }]]
    },
    "Parse Reply": {
      "main": [[{ "node": "Discord - Comment Alert", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "timezone": "America/Phoenix"
  },
  "tags": [{ "name": "culinary-jems" }, { "name": "marketing" }]
}
